*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
header{
    background-color: #f3e1c7;
}

.genLayout{
    max-width: 1350px;
    margin: auto;
}

nav{
    padding-block:  1rem;
}
.headTag{
    display: flex;
   justify-content: space-between;
   margin-top: 1rem;

}

.meCon > a{
    text-decoration: none;
    font-weight: 500;
    color: #040201;
}

.headItems{
    display: flex;
    gap: 2rem;
}

.headItems > a{
    color: #040201;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
}

.headIcon{
    display: flex;
    align-items: center;

}

.headIcon>button{

    color: #040201;
    padding: .7rem 1rem;
    border: 1px solid;
    border-radius: 600px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #f3e1c7;
}

@media(min-width: 320px) and (max-width: 500px){
    .headTag{
        width: calc(100% - 50px);
    }
/* 
    nav{
        position: fixed;

    }  */

    .headItems{
        display: none;
    }

    .headIcon > button{
        padding: .3rem .7rem;
        background-color: green;
    }

    }

.bakeHap{
    max-width: 900px;
    margin: auto;

}

.bakItems > h3{
    font-size: 50px;
    padding: 2rem;
    /* border: 2px solid white; */
}

.bakPara{
    max-width: 900px;
 }

.bakPara > p{
    font-size: 30px;
    padding-bottom: 2rem;
    text-align: center;
    padding-right: -7rem;
}

.bakBut{
    display: flex;
    justify-content: center;
     flex-direction: column;
    align-items: center;

}

.bakBut>button{
    background-color: #307071;
    color: white;
    padding: 1rem 2rem;
    border: none;
    text-transform: capitalize;
    font-size: 25px;
    border-radius: 50px;
}

.bakBut > img{
    padding-top: 3rem;
    width: 500px;

}

@media(min-width: 320px) and (max-width: 500px){
    .bakeHap{
        max-width: calc(100% - 50px);
    }
    
    .bakItems > h3{
        font-size: 20px;
        padding: 1rem;
    }

    .bakPara > p{
        font-size: 15px;
        padding-bottom: 1rem;
    }

    .bakBut > button{
        padding: .5rem 1rem;
        font-size: 15px;
    }

    .bakBut > img{
        padding-top: 2rem;
        width: 250px;
    }
}


.freshItems{
max-width: 1000px;
margin: auto;

}

.freshItems > h3 {
    text-transform: capitalize;
    font-size: 40px;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.freshPara > p{
    font-size: 25px;
    text-align: center;
    max-width: 980px;
}

.freshBut{
    display: flex;
    justify-content: center;
    padding: 2.5rem 0rem;
}

.freshBut > button{
    background-color: #351814;
    text-transform: capitalize;
    color: #fefcfc;
    font-size: 25px;
    border-radius: 40px;
    padding: 1rem 1rem;
    border: none;
}

@media(min-width: 320px) and (max-width: 500px){
    .freshCon{
        width:  calc(100% - 50px);
    }

    .freshItems > h3{
        font-size: 20px;
    }

    .freshPara > p{
        font-size: 13px;
    }

    .freshBut{
        padding: 1rem 0rem;
    }

    .freshBut > button{
        padding: 0.5rem 0.5rem;
        font-size: 15px;
    }
}

.breCon{
    display: flex;
    padding-bottom: 3rem;
    justify-content: space-between;
}

.breCon1 > img{
    height: 400px;
    width: 315px;
    border-radius: 10px;

    }

.breCon1 > h3{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
    font-size: 22px;
}

.breCon1 > p{
    text-align: center;
    max-width: 280px;
    font-size: 16px;
}

@media(min-width: 320px) and (max-width: 500px){
    .breCon{
        width: calc(100% - 50px);
        flex-direction: column;
        gap: 1rem;
    }

    .breCon1 > h3{
        font-size: 15px;
        padding-bottom: 0.2rem;
    }

    .breCon1 > p{
        font-size: 12px;
    }
}

.simpCon{
    display: flex;
    justify-content: space-between;
}

.simpItems > h3{
    max-width: 700px;
    font-size: 55px;
    line-height: 5rem;
    margin-bottom: 20px;
    margin-top: -3rem;
}

.simpItems > p{
    max-width: 700px;
    margin-bottom: 15px;
    font-size: 25px;
}

.simpBut > button{
    background-color: #351814;
    color: #fefcfc;
    text-transform: capitalize;
    padding: 0.8rem 1rem;
    font-size: 20px;
    border-radius: 70px;
    border: none;
    margin-bottom: 20px;
}

.broMe{
    line-height: 35px;
    padding-bottom: 5rem;

}

.broMe > h3{
    text-transform: capitalize;
    font-weight: bold;
}

.broMe > p{
    font-size: 17px;
}

@media(min-width: 320px) and (max-width: 500px){
    .simpCon{
        width: calc(100% - 50px);
        flex-direction: column;
    }

    .simpItems > h3{
        font-size: 30px;
        line-height: 3rem;
        margin-top: -2.2rem;
    }

    .simpItems > p{
        font-size: 15px;
    }

    .simpBut > button{
        padding: 0.5rem 0.7rem;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .broMe{
        line-height: 25px;
        padding-bottom: 2rem;
    }

    .broMe > p{
        font-size: 13px;
    }

    .simpCon > img{
        width: 300px;
    }
}

.secCon{
    background-color: #42234b;
}

.secBox{
     display: flex;
     gap: 2rem;
}

.orgCon{
    background-image: url(image.html/WhatsApp_Image_2025-08-05_at_13.22.54_97b47eaa-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 3rem 0rem;
    
}

.org-de > h4{
    border: 0.1px solid;
    border-radius: 7px;
    font-size: 20px;
    color: #fefcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    background-color: #5f4567;
    margin-top: 35rem;
    font-weight: 500;
   
}
.org-de > h4 > i{
    padding: 1rem 1rem;
    border-radius: 100%;
    background-color: #fefcfc;
    color: #040201;
    margin: 0.5rem 1rem;
    border: none;

}
.imgBox{
    display: flex;
    justify-content: end;
    margin-right: -4rem;
}
.imgBox > img{
  width: 300px;

}
.orgTxt{
    width: 700px;
}
.orgTxt > h3{
    padding-top: 1.2rem;
    color: #fefcfc;
    font-size: 54px;
    line-height: 5rem;
}

.orgTxt > p {
    color: #fefcfc;
    padding: 1rem 0rem;
    font-size: 30px;
    width: 650px;

}

.orgTxt > button{
    background-color: #f3e0c7;
    color: black;
    text-transform: capitalize;
    padding: 1rem 2rem;
    font-size: 19px;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    }

     @media(min-width: 320px) and (max-width: 500px){
        .secBox{
            width: calc(100% - 50px);
            flex-direction: column;
        }

        .orgCon{
             padding: 0rem 2rem;
        }

        .org-de > h4{
            width: 300px;
            font-size: 13px;

        }

        .org-de > h4> i{
            padding: 0.5rem 0.5rem;
        }

        .imgBox{
            margin-right: 2rem;
        }

        .orgTxt{
            width: 300px;
        }

        .orgTxt > h3{
            font-size: 20px;
            line-height: 2.5rem;

        }

        .orgTxt > p{
            width: 400px;
            font-size: 15px;
        }

        .orgTxt > button{
            padding: 0.5rem 1rem;
        }
     }

    .jakCon{
        display: flex;
        padding-top: 6rem;
        padding-bottom: 4rem;
        gap: 1rem;
    }

    .jakCon1{
        width: 600px;
        height: 540px;
    }

    .jakCon1 > img{
        width: 430px;
        border-radius: 10px;
    }

    .jakCon1 > h3{
        text-transform: capitalize;
        line-height: 3rem;
    }

    .jakCon1 > p{
        font-size: 17.2px;
        width: 430px;
    }

    @media(min-width: 320px) and (max-width: 500px){
        .jakCon{
            width: calc(100% - 50px);
            flex-direction: column;
            padding-bottom: 0rem;
            padding-top: 2rem;
        }

        .jakCon1 > img{
            width: 350px;
            height: 400px;
        }

        .jakCon1 > h3{
            line-height: 2rem;
        }

        .jakCon1 > p{
            width: 350px;
        }
    }

    .hazCon{
        background-image: url(https://cdn.shopify.com/s/files/1/0437/8953/files/Hazelnuts.png?v=1652477908);
        height: 55vh;
    }

    .cusCon{
        display: flex;
        height: 50vh;
        gap: 1rem;
    }

    .cusItems{
        margin-top: 7rem;
    }

    .cusItems > h3{
        font-size: 40px;
        color: #fefcfc;
    }

    .cusItems > p{
        font-size: 25px;
        max-width: 570px;
        text-align: center;
        margin-top: 1.5rem;
        color: #fefcfc;
    }

    .reqBut{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .reqBut > button{
        width: 200px;
        font-size: 20px;
        padding: 1rem 0.7rem;
        background-color: #245c5e;
        color: #fefcfc;
        border-radius: 29px;
        border: none;
    }

    .vegCon{
        margin-top: 4rem;
        display: flex;
        gap: 1rem;
    }

    .vegItems > img{
        height: 250px;
        width: 220px;
        border-radius: 10px;
    }

    .vegItems > p{
        text-align: center;
        width: 200px;
        font-size: 18px;
        color: #fefcfc;
    }
     @media(min-width: 320px) and (max-width: 500px){
        .cusCon{
            display: none;
        }
        .hazCon{
            display: none;
        }
        }

    .sweCon{
        display: flex;
        gap: 15rem;
        padding-top: 4rem;
    }

    .sweBox{
        display: flex;
        gap: 2rem;
    }

    .sweItems > h3{
        text-transform: capitalize;
        font-size: 40px;
        color: #341514;
        width: 300px;
        font-weight: 500;
    }

    .abtCon > p {
        text-transform: capitalize;
        font-size: 16px;
        color: #341514;
        font-weight: 300;
    }

    .abtCon > a{
         display: flex;
        line-height: 2rem;
        text-transform: capitalize;
        color: #341514;
      text-decoration: none;
      font-size: 19px;
      font-weight: 600;
    }

    .locCon{
        display: flex;
        gap: 4rem;
    }

    .locItems > p{
        text-transform: capitalize;
        font-size: 16px;
        color: #341514;
        font-weight: 300;
    }

    .locItems > h4{
         color: #341514;
        font-weight: bold;
        font-size: 19px;
        line-height: 2rem;
    }

    .staCon > p{
        font-size: 16px;
        color: #341514;
        font-weight: 300;
    }

    .staCon > span{
        line-height: 3.5rem;
        color: #341514;
    }

    .paraEnd{
        display: flex;
      justify-content: space-between;
        gap: 2rem;
        padding: 3rem 0rem;
    }

    .paraEnd > P{
        text-transform: capitalize;
        font-size: 13px;
        color: #341514;
        font-weight: 600;
    }

    .priEnd{
        display: flex;
        gap: 2rem;
    }

    .priEnd > p{
        font-size: 13px;
        font-weight: 600;
        color: #341514;
    }

    @media(min-width: 320px) and (max-width: 500px){
        .sweCon{
            width: calc(100% - 50px);
            flex-direction: column;
            gap: 5rem;
        }

        footer{
            background-color: #307071;
        }

        .sweBox{
            gap: 0rem;
        }

        .sweItems > H3{
            font-size: 25px;
            width: 200px;
        }

        .locCon{
            gap: 1.5rem;
        }

        .locItems > h4{
            font-size: 13px;
        }
    }

     @media(min-width: 320px) and (max-width: 500px){
        .paraEnd{
            width: calc(100% - 50px);
        }
     }